* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Futura;
  src: url(./Futura-Bold.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  z-index: 99999900000009;
}

*::selection {
  background-color: black;
  color: white;
}

#nav {
  width: 100%;
  font-size: 0.9vw;
  position: fixed;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 99;
}

#nav-part1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 82px;
}
#nav-part1 svg {
  min-height: 82px;
  display: block;
}

#navbar-2 {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 0.9vw;
}

#navbar-2 #nav-2 {
  padding: 10px 0;
}

#navbar-2 a {
  text-decoration: none;
  color: black;
  margin: 0 30px;
  padding: 10px 0;

  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

#navbar-2 a::after {
  content: "";
  width: 0%;
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  transition: width 0.2s;
}
#navbar-2 a:hover::after {
  width: 100%;
}

#navbar-2 #icons {
  background-color: #f7f7f7;
  padding: 7px 0;
  border-radius: 50px;
  margin: 0 10px;
}
#navbar-2 #icons i {
  cursor: pointer;
  font-size: 1.5vw;
  margin: 0 25px;
  font-weight: 100;
}

#curser {
  height: 200px;
  width: 200px;
  background-color: blanchedalmond;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}
#page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 1vw;
  padding-top: 17vh;
  margin-top: 8.5vw;
}

#page1 h1 {
  text-align: center;
  max-height: 15.8vw;
  font-size: 16.2vw;
  font-family: Futura;
  line-height: 14vw;
  letter-spacing: -10px;
}
#video-container {
  margin-top: 3vw;
  height: 100vh;
  width: 100%;
}

#video-container video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#video-container #play {
  padding: 3vw 2vw;
  background-color: black;
  text-transform: uppercase;
  font-size: 2vw;
  opacity: 0;
  scale: 0;
  color: white;
  font-family: Futura;
  position: fixed;
  border-radius: 50%;
}

.separator {
  font-family: "Montserrat", sans-serif;
  margin-top: 5vw;
  width: 100%;
  margin-bottom: -2vw;
}
.separator h5 {
  font-size: 0.8rem;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
}
.separator .text1 {
  margin: 0 2vw;
  text-align: left;
}
.separator .text2 {
  width: 88.5%;
  text-align: right;
}
.separator .lineh {
  width: 96%;
  margin: auto;
  border-bottom: 1px solid black;
}

#page2 {
  position: relative;
  min-height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vw;
  justify-content: space-around;
}
#page2 .elem {
  height: 100%;
  width: 33%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 2vw;
  scale: 1.1;
}
#page2 .elem .box {
  text-transform: uppercase;
  overflow: hidden;
  height: 8vh;
  width: 70%;
  position: absolute;
  top: 45%;
  border-radius: 30px;
  transition: height 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #555555;
}
.image-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 30%;
}
.bold {
  font-weight: bolder;
  color: #363636;
}
.image-nav i {
  font-size: 1.2rem;
}

#page2 .elem .box .dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
}
.image-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: none;
  transition: all 0.1s;
}
.image-content .prod {
  cursor: pointer;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
}
.image-content .prod img {
  height: 100px;
}

#page2 .elem .box:hover {
  height: 250px;
}

#page2 .elem .box:hover .image-content {
  display: flex;
}
#page2 .elem .box:hover .image-nav {
  top: 6%;
}
#page2 #elem1 .box,
#page2 #elem3 .box {
  background-color: #e5f0d6;
}
#page2 #elem2 .box {
  background-color: #f5dfcf;
}
#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#page3 .product {
  width: 40vw;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 2vh;
  padding: 5vh;
}
#page3 .page3-text {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

#page3 .page3-text h3 {
  font-size: 3rem;
  font-family: futura;
  line-height: 3.4vw;
  padding: 2vw;
}

#page3 .page3-text .page3-para {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 2vw;
}

#page3 .page3-text .page3-para p {
  margin: 1vw 5vw;
  color: black;
}
#page3 .page3-text .page3-para span {
  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
  margin: 1vw 4.7vw;
  color: #363636;
  padding: 0.3vw;
  cursor: pointer;
  transition: all 0.2s ease;
}
#page3 .page3-text .page3-para span::after {
  content: "";
  width: 0%;
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  transition: width 0.2s;
}
#page3 .page3-text .page3-para span:hover::after {
  width: 100%;
}

#page3 .product h6 {
  margin-top: 1vh;
  font-size: 0.8vw;
  color: #555555;
}
#page3 .product p {
  font-size: 1vw;
  color: #555555;
}

#page3 .product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 3vw;
}

#page5 {
  font-family: Futura;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

#page5 .elem {
  width: 100%;
  position: relative;
  cursor: pointer;
}
#page5 .elem .blur {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #f5e31be8, #f5e41b, #f5e31be8);
  box-shadow: 10px 0px 20px 20px #f5e41b, -10px 0px 20px 100px #f5e41b;
  height: 100%;
  z-index: 100;
}

#page5 .elem h2 {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  z-index: 100;
  line-height: 5vw;
  font-style: normal;
}
#page5 .elem .moving {
  overflow: hidden;
  background-color: #f5e41b;
  width: 100%;
  white-space: nowrap;
  padding: 3px 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -45%) scaleY(0);
  transition: all ease 0.5s;
}
#page5 .elem .moving .moving-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: moving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#page5 .elem .moving .moving-in h5 {
  color: #000;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 35px;
  transition-delay: 0.3s;
}
#page5 .elem:hover .moving {
  transform: translate(0, -45%) scaleY(1);
}
#page5 .elem:hover .moving h5 {
  opacity: 1;
}
#page5 .elem:hover h2 {
  font-style: italic;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 600px) {
  #page1 {
    padding: 4vw;
    min-height: 70vh;
    padding-top: 25vh;
  }
  #page1 h1 {
    font-size: 16vw;
    letter-spacing: -4px;
  }

  #video-container {
    margin-top: 3vw;
    height: 25vh;
    width: 100%;
  }
  #video-container #play {
    padding: 9.5vw 7.5vw;
    font-size: 4.5vw;
    opacity: 1;
    scale: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #page2 {
    flex-direction: column;
  }
  #page2 .elem {
    width: 100%;
    padding: 2vh 0;
  }
  #page2 .elem img {
    padding: 4vh 0;
  }
}

/* blur div and horizontal scroll */
.bgele {
  z-index: -100000000000;
  position: absolute;
  height: 500px;
  width: 500px;
  background: #d51010;
  border-radius: 10% 10% 60% 50%;
  animation: move 20s infinite ease-in-out;
  background: rgb(224, 77, 43);
  /* background: radial-gradient(circle, rgb(237, 43, 0) 0%, rgb(248, 156, 52) 100%); */
  background: rgb(224, 43, 43);
  background: rgb(230, 17, 17);
  background: linear-gradient(
    48deg,
    rgba(230, 17, 17, 1) 0%,
    rgba(255, 0, 77, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: none;
  box-shadow: inset 0px 0px 20px 20px #ffffff;
  filter: blur(40px);
}
@keyframes move {
  0% {
    top: -25%;
    left: 40%;
    border-radius: 60% 50%;
  }
  50% {
    top: -20%;
    left: 35%;
    border-radius: 50% 60%;
  }
  100% {
    top: -25%;
    left: 40%;

    border-radius: 60% 50%;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.horizontalScroll {
  font-family: "Futura", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 5rem 0;
}
.line {
  position: absolute;
  width: 100%;
  height: 1rem;

  background-color: #6c6c6c54;
}

.horizontalList {
  display: flex;
  left: 100%;
  width: 200%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: infiniteScroll 15s linear infinite;
}
.horizontalList2 {
  display: flex;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: infiniteScroll 15s linear infinite;

  animation-delay: 10s;
}
li {
  list-style: none;
  margin-left: 1rem;
  font-size: 75px;
  /* font-weight: 100; */
}
@keyframes infiniteScroll {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
